.profile-container {
  width: 40%;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.profile-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile-form label {
  font-weight: bold;
}

.profile-form input {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.update-btn {
  background: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.update-btn:hover {
  background: #0056b3;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; /* space for eye icon */
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #555;
  transition: 0.2s;
}

.eye-icon:hover {
  color: #007bff;
}

.profile-image-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.profile-preview,
.profile-placeholder {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile-preview {
  object-fit: cover;
}

.profile-placeholder {
  background: #007bff;
  color: white;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image-wrapper {
  cursor: pointer;
  transition: 0.3s;
}

.profile-image-wrapper:hover {
  opacity: 0.85;
}

.remove-photo-btn {
  background: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
}

.remove-photo-btn:hover {
  background: #b52a37;
}
