/* FULL PAGE BACKGROUND */
.reset-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #080808, #121212, #1e1e1e);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  color: white;
}

/* GLASS CARD */
.reset-card {
  width: 100%;
  max-width: 360px;
  padding: 25px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
}

/* TITLE */
.reset-card h2 {
  text-align: center;
  margin-bottom: 18px;
  font-weight: 600;
}

/* PASSWORD INPUT */
.reset-card input {
  width: 93%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: 1px solid #444;
  background: #1b1b1b;
  color: white;
}

/* BUTTON */
.reset-btn {
  width: 100%;
  padding: 12px;
  background: #4a90e2;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  color: white;
}

.reset-btn:hover {
  background: #357ab8;
}

/* SUCCESS MESSAGE */
.reset-msg {
  margin-top: 12px;
  text-align: center;
  color: #7CFC98;
  font-size: 14px;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 93%;
  padding-right: 40px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #444;
  color: white;
}

.eye-icon {
  position: absolute;
  right: 15px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  opacity: 0.7;
}

.eye-icon:hover {
  opacity: 1;
}
